<html>
<head>
  <title>PSSST!</title>
</head>
<body>
  <h1>Welcome to PSSST!</h1>
  <br/>
  <h3>Prretty Secretive Server Service Tokenizer</h3>

  <br/>
  <br/>
  <br/>

  <p>Brought to you by your friends and neighbors at the NSA</p>

  <a href="/encode">Encode Your Secrets, We promise not to look!!</a>
</body>
</html>

